body {
  background: #e6e6e6;
}

.container {
  padding: 25px;
}

h1 {
  font-size: 24px;
}

.notepad-label {
  font-size: 16px;
}

.note-label {
  font-size: 18px;
}

button {
  font-size: 12px;
}

.wrapper {
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 5px 0 #c6c6c6;
}


.btn-wrap {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  button {
    margin: 0 5px;
  }
}

.form-elements {
  margin: 10px 0;
}
